$color-black: #000000; //black
$color-gold: #D4AF37; //gold
$color-cream: #FFFDD0; //cream
$light-grey : #f3f3f3;

.gold{
  color: $color-gold;
}

.black{
  color: $color-black;
}

.cream{
  color: $color-cream;
}

.light-grey{
  color: light-grey;
}