.input1{
  width: 100%;
  @extend .mg-v-20 ;
  label{
      display: block;
      @extend .lato-m, .b ;
      @extend .mg-v-10 ;
  }
  input, select, textarea{
      width: 100%;
      padding: 10px;
      box-sizing: border-box;
      background: none;
      border: none;
      border-bottom: 1px solid $light-grey ;
      @extend .lato-m ;
  }  
  textarea{
    max-width: 100%;
    min-width: 100%;
  }
  #checkbox{
    width: 20px;
  }
}

.form{
  padding: 20px;
  .btn-1{
      @extend .mg-v-20 ;
  }
  .btn-full{
      @extend .btn-1 ;
      width: 100%;
  }
}
.radio{
  cursor: pointer;
}

.radio-checked{
  &::before{
      content: '\f058' ;
      @extend .fontawesome, .mg-h-10 ;
      font-weight: normal;
      margin-left: -22px;
  }
}

.radio-unchecked{
  &::before{
      content: '\f111' ;
      @extend .fontawesome, .mg-h-10 ;
      font-weight: normal;
      margin-left: -22px;
  }
}

.radio-unchecked-div{
  @extend .grey ;
  h2{
    @extend .radio-unchecked ;
  }
}

.radio-checked-div{
  h2{
    @extend .radio-checked ;
  }
}