@import './spacing.scss';
@import './colors.scss';
@import './fonts.scss';
@import './layout.scss';


@import '../buttons/buttons.scss';
@import '../header/header.scss';
@import '../slider/styles.scss';



/* GENERAL STYLING */

body{
  width: 100%;
  margin: 0px;
}

a{
  color: inherit;
  text-decoration: none;
}