#auth-wrapper{
  width: 100%;
  min-height: 100vh;
}

#logo{
  position: absolute;
  @extend .v-h-center ;
  top: 200px;
}

#loginFormDiv{
  width: 65%;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#loginForm{
  width: 50%;
  margin: 0px auto;
  button{
    width: 100%;
  }

  h1{
    @extend .align-center ;
  }
}

#errorDiv{
  width: 100%;
  text-align: center;
  background-color: $color-gold;
  padding: 15px 0px;
  color: #fff;
  visibility: hidden;
}

#sidebar{
  width: 33%;
  height: 100vh;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: $color-cream;
}


#loaderImgDiv{
  position: relative;
  width: 45%;
  margin: 100px auto;
  img{
    width: 100%;
  }
}

#logo-text{
  text-align: center;
  width: 50%;
  margin: 0px auto;
  h2{
    font-size: 72px;
    font-weight: 400;
  }
  hr{
    // background-color: $color-gold;
    border: .5px solid $color-gold;
  }
  p{
    font-size: 24px;
    font-size: 100;
    letter-spacing: 10px;
  }
}

#quote{
  margin: 0px auto;
  font-style: italic;
  color: $grey;
  text-align: center;
  position: absolute;
  bottom: 50px;
  width: 60%;
  font-size: 20px;
  left: 50%;
  transform: translateX(-50%);
  .quote-author{
    font-weight: 700;
    text-align: right;
  }
}

#spinLogo{
  position: relative;
  #middleM{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    font-size: 1000%;
    font-weight: 400;
  }
}

.rotation{
  -webkit-animation: spin 50s linear infinite !important;
  -moz-animation: spin 50s linear infinite !important;
  animation: spin 50s linear infinite !important;
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}