.slider{
  background-color: $color-cream;

  &::before{
    content: '\f104';
    position: absolute ;
    @extend .fontawesome, .b, .h-center ;
  }

  &::after{
    content: '\f105';
    @extend .fontawesome, .b, .h-center ;
  }
}

.hero-slider{
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100vh;
}