.cart-container{
  width: 100%;
  max-width: 1000px;
  margin: 0px auto; 
  h1{
      text-align: center
  }

  .item-container{
      @extend .fl-btw ;
      width: 100%;
      height: 150px;
      border-bottom: 1px solid rgba(0,0,0,0.2);
      padding: 0px 20px;
      position: relative;
      box-sizing: border-box;
      .item-desc{
          .image-container{
              height: 70px;
              width: 70px;
              overflow: hidden;
              img{
                  width: 100%;
              }
          }
      }
  }
}

.addQty{
    cursor: pointer;
    &::before{
        content:'\f067';
        @extend .fontawesome, .mg-h-10 ;
        font-size: 9px;
    }
}

.subQty{
    cursor: pointer;
    &::before{
        content:'\f068';
        @extend .fontawesome, .mg-h-10 ;
        font-size: 9px;
    }
}

.deleteItem{
    cursor: pointer;
    position: absolute;
    display: block;
    bottom: 10px; right: 0px;
    color: rgba(0,0,0,0.5);
    &::before{
        content:'\f2ed';
        @extend .fontawesome, .mg-h-10 ;
    }
    &:hover{
        color: $color-gold;
    }   
}

.CartTotals{
    border-top: 1px solid rgba(0,0,0,0.2);
}