.cart-container{
  width: 100%;
  max-width: 1000px;
  margin: 0px auto; 
  h1{
      text-align: center
  }

  .item-container{
      @extend .fl-btw ;
      width: 100%;
      height: 150px;
      border-bottom: 1px solid $light-grey;
      @extend .pd-20 ;
      .item-desc{
          .image-container{
              height: 130px;
              width: 130px;
          }
      }
  }
}

.total{
  p{
      line-height: 30px;
  }
  .price-spans{
      display: inline-block;
      width: 150px;
  }
}