.cart-container{
  width: 100%;
  max-width: 1000px;
  margin: 0px auto; 
  h1{
      text-align: center
  }

  .item-container{
      @extend .fl-btw ;
      width: 100%;
      height: 150px;
      border-bottom: 1px solid rgba(0,0,0,0.2);
      padding: 0px 20px;
      .item-desc{
          .image-container{
              height: 70px;
              width: 70px;
              overflow: hidden;
              img{
                  width: 100%;
              }
          }
      }
  }
}


.total{
  p{
      line-height: 30px;
  }
  .price-spans{
      display: inline-block;
      min-width: 200px;
  }
}

.addQty{
    cursor: pointer;
    &::before{
        content:'\f105';
        @extend .fontawesome, .mg-h-10 ;
    }
}

.subQty{
    cursor: pointer;
    &::before{
        content:'\f104';
        @extend .fontawesome, .mg-h-10 ;
    }
}

.delete{
    cursor: pointer;
    &::before{
        content:'\f2ed';
        @extend .fontawesome, .mg-h-10 ;
    }
}