@import './colours';
@import './fonts';
@import './spacing';
@import './buttons';
@import './forms';
@import './items';
@import './home';
@import './instruments';
@import './dashboard';

*,
*::after,
*::before {
margin: 0;
padding: 0;
box-sizing: inherit;
}


html{
  font-size: 62.5%;
}

body{
  width: 100%;
}

a{
  color: inherit;
  text-decoration: none;
}

input{
  border: none;
  background: none;
  background-color: none;
}

.block{
  display: block;
}

/*colors*/
.colors{
  border: 0.1rem solid black;
  width: 26rem;
  height: 17rem;
  /*background-color: rgba(128, 128, 128, 0.39);*/
  padding-left: 2rem;
  padding-top: 2rem;
  box-sizing: border-box;
  p{
    font-size: 2rem;
  }
  h1{
    font-size: 4rem;
  }
}

/*Icons*/
.icons{
  width: 50%;
  height: 20rem;
    h1{
      font-size: 4rem;
      padding-bottom: 1rem;
    }
  i{
    font-size: 3rem;
    padding: 1rem;
  }
}

/* GENERAL STYLING */

.img-wrap{
  overflow: hidden;
  img{
    width: 100%;
    object-fit: contain;
  }
}
