/* Item container */

.item{
  width: 200px;
  height: 300px;
  border: 0.1px solid lightgrey;
  position: relative;
  @extend .mg-v-20 ;
  .pr-image{
    width: 100%;
    height: 200px;
    text-align: center;
    overflow: hidden;
    display: flex;
    align-content: center;
    justify-content: space-around;
    img{
      width: 80%; 
      object-fit: contain;
      padding-top: 2px;
    }
  }
  .pr-info{
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0px;
  }
  &:hover{
    border: 0.1px solid $color-gold;
    color: $color-gold;
  }
}


.product-container{
  width: 100%;
  max-width: 1400px;
  margin: 0px auto;
  @extend .fl-btw, .fl-wrap ;

  .image-container{
      width: 45%;
      text-align: center;
      img{
        width: 60%;
      }
  }
  .text-container{
      width: 45%;
      line-height: 24px;
  }
}


#filter-section{
  width: 100%;
  max-width: 1400px;
  background-color: $color-cream;
  border: 1px solid $color-gold;
  .filterdivs{
    margin: 0px 20px;
  }  
}

@media only screen and (max-width: 600px) {
  .product-container{
    .image-container{
      width: 100%;
    }
    .text-container{
      width: 100%;
    }
  }
}