.item{
  width: 200px;
  height: 300px;
  border: 0.1px solid lightgray;
  position: relative;
  @extend .mg-v-20 ;
  .pr-image{
    width: 100%;
    height: 200px;
    text-align: center;
    overflow: hidden;
    img{
      width: 80%; 
      object-fit: contain;
      padding-top: 2px;
    }
  }
  .pr-info{
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0px;
  }
  &:hover{
    border: 0.1px solid $color-gold;
    color: $color-gold;
  }
}